@font-face {
  font-family: "Otto";
  src:url(/font/Otto.ttf);
}

@font-face {
  font-family: "Muli ExtraLight";
  src:url(/font/Muli ExtraLight.ttf);
}

body {
  font-family: "Muli ExtraLight";
  font-size:.8rem;
  padding:2rem;
}

img {
max-width: 80%;
}

.element {
  padding-bottom: 2rem;
  border-top-style: solid;
  width: 100%;
  border-top-color:#E9DAC8;
}

.element h3 {
  font-size: 1.1rem;
  padding-top: 2.2rem;
  padding-left: 5rem;
}

header h1 {
  font-family: "Otto";
}

h1 {
  color: #403429;
}

h2, h3 {
  margin-top:1rem;
  color:#403429;
}

h4 {
  margin-top:.2rem;
  margin-bottom:.8rem;
  color:#403429;
}

p {
  margin-top:0;
  color:#94867C;
}

a:link,a:visited {
  color:#94867C;
  text-decoration:none;
}

a:hover {
  color:#403429;
  text-decoration:none;
  }

ul,li {
  list-style:none;
  margin:0;
  padding:0;
  color:#403429;
}

nav {
margin-top: 3rem;
}

nav li {
  display: inline;
  padding:1rem ;
}

nav a:hover,nav a:active, nav a:focus {
  border-bottom: 2px solid;
  color: #403429;
}

.active_page{
  border-bottom: 2px solid;
  color: #403429;
}

code {
  background-color:#EEE;
  display:block;
  padding:.5rem;
}

.button-nav {
  display:inline-block;
  background-color:#E9DAC8;
  text-decoration:none;
  transition-property:background-color;
  transition-duration:.5s;
  border-radius:3px;
  padding:.25rem;
  width:30%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.button-nav:hover,.button-nav:focus {
  background-color:#94867C;
}

.button {
  display:inline-block;
  background-color:#E9DAC8;
  text-decoration:none;
  transition-property:background-color;
  transition-duration:.5s;
  border-radius:5px;
  padding:.25rem;
  width:10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.button:hover,.button:focus {
  background-color:#94867C;
}

.text {
  color:#FFF;
  font-size:1.25rem;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  text-align:center;
}

.row {
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin:0 -1rem;
}

.col-25 {
  -ms-flex:25%;
  flex:25%;
  margin-bottom:1rem;
  background-color: red;
}

.col-50 {
  flex:50%;
  color:#403429;
}

.col-75 {
  -ms-flex:75%;
  flex:75%;
  }

.col-25,.col-50,.col-75 {
  padding:5rem 5rem;
}

.container {
  border: 1px solid #403429;
  border-radius: 7px;
  width: 61%;
  padding:0.3rem 1rem 1.8rem;
  margin-left: 4.5rem;
  margin-right: 2rem;
  margin-top: 2rem;
  float: left;
}

.containerabout{
  display: flex;
  padding-top: 2rem;
}

.containerabout div{
  padding: 1rem;
}

.aboutimage{
  flex:1;
  text-align: center;
}

.textbox1{
flex:1;
}

.textbox1 p{
  width:70%;
}

.textbox1 img{
  width:10%;
  padding: 0 0 0 0;
}

.texttitle{
  flex:0.6;
}

.textbox2{
flex:1.5;
margin-left: 4rem;
}

.textbox3{
  margin-top: 2rem;
  flex:1;
}

.productdetail{
  flex:0.5;
}

.Product1 {
  display: flex;
  flex-wrap:wrap;
  padding-bottom:3rem;
}

.Product1 div {
  padding:1rem;
}

.box {
  flex:1;
}

.imgmiddle {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.description {
  padding:.5em;
}

input[type=text] {
  display:block;
  width: 80%;
  margin-bottom:1.25rem;
  border:1px solid #403429;
  border-radius:.2rem;
  padding:.75rem;
}

input[type=radio] {
  display:inline-block;
}

label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: .75rem;
}

.icon-container {
  margin-bottom:1.25rem;
  font-size:1.5rem;
  padding:0.4rem 0;
}

.checkout {
  background-color:#FFF;
  color:#403429;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border:none;
  width:80%;
  border-radius:.2rem;
  cursor:pointer;
  font-size:2.5rem;
  font-family: "Otto";
  padding:.75rem;
}

.checkout:hover {
  background-color:#94867C;
}

#details {
  padding-top: 4em;
  padding-left: 3.5rem;
  padding-bottom: 2rem;
}

#details p {
  font-weight: bold;
  padding-right: 4.95rem;
  float: left;
  font-size: 1.15em;
}

.container img {
  padding-top: 2rem;
  padding-left: 3.5rem;
  width: 16%;
  height: 16%;
}

span.price {
  float: right;
  color: #403429;
  padding-right: 5.2rem;
}

.summary {
  float: left;
  color: black;
  padding: 4rem;
  padding-right: 9rem;
  padding-bottom: 1.2rem;
  border-radius: 7px;
  border: 1px solid #403429;
  background-color: #E9DAC8;
}

#sum b {
  margin-top: 0;
  font-size: 1rem;
  margin-bottom: 3rem;
}

#sum p {
  color: black;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

#sum .checkout {
  margin-top: 2.5rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  width: 130%;
}

#lefttext {
  font-size: 1rem;
}

#left-text p {
  float: left;
}

.smalltext {
  font-size: 0.8rem;
  color:#94867C;
  padding-left: 5.15rem;
}

.titletext {
  font-family: "Otto";
  font-size:3rem;
  margin-top:2rem;
  margin-bottom:.1em;
  color:#403429;
  padding-left:5.8rem;
}

.bodytext {
  font-family:muli,open-Sans;
  color:#94867C;
}

.rowgrid {
  display:flex;
  flex-wrap:wrap;
  padding:0 0.25rem;
}

.column {
  flex:50%;
  padding:0 0.25rem;
}

.column img {
  margin-top:0.5rem;
  vertical-align:middle;
}

@media screen and (min-width: 768px) {
}
