
@font-face {
  font-family:Otto;
  src:url(../font/Otto.ttf);

}

@font-face {
  font-family:Muli-Light;
  src:url(../font/Muli-Light.ttf);

}
.containercheckout {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;



}
.icon-container {
  margin-bottom:1.25rem;
  font-size:1.5rem;
  padding:0.4rem 0;
}

.checkout {
  background-color:#FFF;
  color:#403429;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border:none;
  width:80%;
  border-radius:.2rem;
  cursor:pointer;
  font-size:2.5rem;
  font-family: "Otto";
  padding:.75rem;
}

.checkout:hover {
  background-color:#94867C;
}

#details {
  padding-top: 4em;
  padding-left: 3.5rem;
  padding-bottom: 2rem;
}

#details p {
  font-weight: bold;
  padding-right: 4.95rem;
  float: left;
  font-size: 1.15em;
}

.container img {
  padding-top: 2rem;
  padding-left: 3.5rem;
  width: 16%;
  height: 16%;
}

span.price {
  float: right;
  color: #403429;
  padding-right: 5.2rem;
}

.totalamount {
  border: 2px #94867C solid;
  background-color: #E9DAC8;
  border-radius: 0.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

#sum b {
  margin-top: 0rem;
  font-size: 1rem;
  margin-bottom: 3rem;
  text-align: center;
color:#403429;
}

#sum p {
  color: #94867C;
  padding-top: 1rem;
  text-align: center;

}

#sum .checkout {
  margin-top: 2.5rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  max-width: 60%;
  width: 60%;
  border: 2px solid #94867C;
}

#lefttext {
  font-size: 1rem;
}

#left-text p {
  float: left;
}

.smalltext {
  font-size: 0.8rem;
  color:#94867C;
  padding-left: 5.15rem;
}

.rowgrid {
  display:flex;
  flex-wrap:wrap;
  padding:0 0.25rem;
}

.column {
  flex:50%;
  padding:0 0.25rem;
}

.column img {
  margin-top:0.5rem;
  vertical-align:middle;
}
.itemlist {
  display: flex;
  flex: 2;
  padding: 1rem;
  border: 2px #E9DAC8 solid;
  border-radius: 0.5rem;
  margin-right: 5rem;
}
.itemname h1{
  margin-top:1rem;
  font-size: 15px;
}
.itemdescription h2{
  margin-top:1rem;
  font-size: 15px;
}
.itemtotal h2{
  margin-top:1rem;
  font-size: 15px;
}

@media screen and (min-width: 0px) and (max-width: 1280px) {

  .itemlist {
    padding-top: 0rem;
    display: block;
    margin-left: 0rem;
  }


  .itemlist div {
    text-align: center;
    padding: 0rem;
  }

  .summary {
    float: none;
    margin-left: 0rem;
    margin-top: 0;
    padding-left: 8.5rem;
  }
  #sum.checkout {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
  }

.itemdescription {
  text-align: center;
}
.containercheckout {
  padding-top: 0rem;
  display: block;
  text-align: center;
}

.subtotal {
  margin-left: 0;
  margin-top: 1rem;
}
.totalamount {
  width:80%;
}
}

#sum .button-nav {
    border: 2px #94867C solid;
    color: #403429;
    font-family:Otto,open-Sans;
    font-size: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0;
    margin-bottom: 1rem;

}

.itemname {
  flex:1;
}

.itemname img {
  max-width: 80%;
}
.itemdescription {

  flex:0.5;
}
.itemquantity {
  flex:0.5;
  width: 10rem;;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 2rem;
}
.itemtotal {
  flex:0.5;
}

.subtotal {
  flex:1.5;
  border-radius: 0.5rem;
}

/*The following take online resources for reference*/
form {
  width: 10rem;;
  margin: 0 auto;
  text-align: center;

}

.value-button {
  display: inline-block;
  border: 1px #403429 solid;
  color: #403429;
  margin: 1rem;
  width: 2rem;
  height: 1.5rem;;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem 0;
  background: #E9DAC8;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  margin: 0px;
  width: 20px;
  height: 20px;
  color: #403429;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
