.containerhome{
  display: flex;
  padding-top: 2rem;
}
.containerhome img{
width:100%;
}

.containerhome p{
padding-top: 0rem;
margin-bottom: 0.1rem;
}
.biggestimg{
text-align: center;
}
.biggestimg img{
max-width: 80%;
}
.biggestimg a img:hover,
.sone a img:hover{
  filter: opacity(75%);
}
.sone{
  flex:1;
  padding-left: 8.8rem;

}
.sone img{

}
.stwo{
flex:1;
padding-left: 1rem;
}

.sthree{
flex:1;
padding-right: 8.8rem;
padding-left: 1rem;
}

.dates{
  font-size: 10px;
    color: #403429;
}
