
@font-face {
  font-family:Otto;
  src:url(../font/Otto.ttf);

}

body {
  font-family:muli,open-Sans;
  font-size:.8rem;
  padding:2rem;
    src:url(../font/Muli-Light);
}

img {
max-width: 80%;

}

.element {
  padding-bottom:2rem;
  border-top-width:.15rem;
  border-top-style:solid;
  border-top-color:#E9DAC8;
}

#demo-input {
  width: 30%;
}

h1{
  color: #403429;
}
h2,h3 {
  margin-top:1rem;
  color:#403429;
}
h4 {
  margin-top:.2rem;
  margin-bottom:.8rem;
  color:#403429;

}

p {
  margin-top:0;
  color:#94867C;
}

a:link,a:visited {
  color:#94867C;
  text-decoration:none;
}

a:hover {
  color:#403429;
  text-decoration:none;
  }

ul,li {
  list-style:none;
  margin:0;
  padding:0;
  color:#403429;
}

nav{
margin-top: 3rem;
}

nav li {
  display: inline;
  padding:1rem ;


}


nav a:hover,nav a:active, nav a:focus {
  border-bottom: 2px solid;
  color: #403429;
}
.active_page{
  border-bottom: 2px solid;
  color: #403429;
}
code {
  background-color:#EEE;
  display:block;
  padding:.5rem;
}

.button-nav {
  display:inline-block;
  background-color:#E9DAC8;
  text-decoration:none;
  transition-property:background-color;
  transition-duration:.5s;
  border-radius:3px;
  padding:.25rem;
  width:30%;

  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;

}

.button-nav:hover,.button-nav:focus {
  background-color:#94867C;
}


.button{
  display:inline-block;

  background-color:#E9DAC8;
  text-decoration:none;
  transition-property:background-color;
  transition-duration:.5s;
  border-radius:5px;
  padding:.25rem;
  width:10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.button:hover,.button:focus {
  background-color:#94867C;
}


.text {
  color:#FFF;
  font-size:1.25rem;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  text-align:center;
}

.row {
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin:0 -1rem;
}

.col-25 {
  -ms-flex:25%;
  flex:25%;
  margin-bottom:1rem;
}

.col-50 {
  flex:50%;
  color:#403429;
}

.col-75 {
  -ms-flex:75%;
  flex:75%;
  }

.col-25,.col-50,.col-75 {
  padding:0 1rem;
}

.container {
  border:1px solid #403429;
  border-radius:3px;
  width: 40%;
  padding:0.3rem 1.25rem 1.8rem;
}

.containerabout{
  display: flex;
  padding-top: 2rem;

}


.containerabout div{

  padding: 1rem;
}
.aboutimage{
  flex:1;
  text-align: center;

}
.textbox1{
flex:1;


}
.textbox1 p{
  width:70%;
}

.textbox1 img{
  width:10%;
  padding: 0 0 0 0;
}
.texttitle{
  flex:0.6;
}
.textbox2{
flex:1.5;
margin-left: 4rem;

}
.textbox3{
  margin-top: 2rem;

flex:1;

}
.productdetail{
  flex:0.5;

}



.Product1 {
  display: flex;
  flex-wrap:wrap;
  padding-bottom:3rem;
}

.Product1 div {
  padding:1rem;
}

.box {
  flex:1;
}

.imgmiddle {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.description {
  padding:.5em;
}

input[type=text] {
  display:block;

  width: 80%;
  margin-bottom:1.25rem;
  border:1px solid #403429;
  border-radius:.2rem;
  padding:.75rem;
}
input[type=radio] {
  display:inline-block;
}


label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: .75rem;
}

.icon-container {
  margin-bottom:1.25rem;
  font-size:1.5rem;
  padding:0.4rem 0;
}

.checkout {
  background-color:#FFF;
  color:#403429;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border:none;
  width:80%;
  border-radius:.2rem;
  cursor:pointer;
  font-size:2.5rem;
  font-family:Otto;
  padding:.75rem;
}

.checkout:hover {
  background-color:#E9DAC8;
}

span.price {
  float:right;
  color:#403429;
}

span.bprice {
  float:right;
  color:#403429;
  padding-right:0rem;
  padding-top: 0.8rem;
}

.lefttext {
  padding-left:0rem;
  font-size:1.2rem;
}

.smalltext {
  font-size:0.8rem;
  color:#94867C;
  padding-left:2rem;
}

.titletext {
  font-family:Otto,open-Sans;
  font-size:3rem;
  margin-top:2rem;
  margin-bottom:.1em;
  color:#403429;
  padding-left:5.8rem;
}

.bodytext {
  font-family:muli,open-Sans;
  color:#94867C;
}

.rowgrid {
  display:flex;
  flex-wrap:wrap;
  padding:0 0.25rem;
}

.column {
  flex:50%;
  padding:0 0.25rem;
}

.column img {
  margin-top:0.5rem;
  vertical-align:middle;
}


@media screen and (min-width: 768px) {




}
